*{
    margin: 0;
    font-family:"signika",sans-serif ;
    scroll-behavior: smooth;

}
:root{
    --accent:#E74C3C;
    --orange:#feeadf;
    --black:#1e1e1e;
}
body{
    color: white;
}
section{
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center center;
}
.page{
    background-image:url("img/hero-bg.png") ;
    display: flex;
    flex-direction:column ;
}
nav{
    background:transparent;
    height: 80px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color:aliceblue;
}
.logo{
    color:var(--accent);
    font-size: 64px;
    line-height: 80px;
    margin-left: 50px;
    font-weight:800;

}
nav div{
    display: flex;
    align-items: center;
    gap:39px;
}
nav ul{
    float: none;
    padding-left: 0px;


}
nav ul li{
    display: inline-block;
    line-height: 82px;
    margin: 0px 5px;
}
nav ul li a{
    color: var(--black);
    font-size: 24px;;
}

